@import "colors";

// custom changes to the Minimalist theme + some extras (theme switch)

.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

@media all and (min-width: 961px) {
  body {
    /* prevent scrollbar from adjusting body placement */
    padding-left: calc(100vw - 100%);
  }
}

/* center images within <p> tags (images within markdown posts) */
p {
  img {
    display: block;
    margin: auto;
  }
}

hr {
  width: 100%;
}

pre {
  font-size: 14px;
}

.theme-switch { 
  align-self: flex-end; 
  background-color: transparent;
  border: none; /* Remove borders */
  color: var(--clr-text);
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  z-index: 10; /* Ensure buttons are on top */
  position: relative; /* Ensure buttons are positioned correctly */
}

.bottom-left-btn {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  color: var(--clr-text);
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 10000;
  display: block;
}


.link-wrapper {
  display: flex;
  flex-direction: column;
}

.link-wrapper-mobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.toc {
  padding-left: 10%;
  z-index: 1; /* Ensure TOC has a lower z-index */
  position: relative; /* Ensure positioning context */
  ul {
    margin-bottom: 0; /* Remove bottom margin from nested sublists */
  }
}
